<h1><%= params[:id] %></h1>

<div class="btn-toolbar">
	<div id="time" class="btn-group" data-toggle="buttons-radio">
	  <a href="/targets/<%= params[:id] %>?time=minute" data-pjax='#graph' class="btn <%= "active" if params[:time] == 'minute' %>" alt="minute">Minute</a>
	  <a href="/targets/<%= params[:id] %>?time=hour" data-pjax='#graph' class="btn <%= "active" if params[:time] == 'hour' %>" alt="hour">Hour</a>
	  <a href="/targets/<%= params[:id] %>?time=day" data-pjax='#graph' class="btn <%= "active" if params[:time] == 'day' %>" alt="day">Day</a>
	  <a href="/targets/<%= params[:id] %>?time=week" data-pjax='#graph' class="btn <%= "active" if params[:time] == 'week' %>" alt="week">Week</a>
	</div>
	<div class="btn-group">
		<a class="btn">
			<i class="icon-bookmark"></i>Bookmark
		</a>
	</div>
</div>

<div id="graph"></div>

<script>
/*
	$("#time").on('click', 'a', function(event) {
   var container = $("#graph")
   return $.pjax.click(event, container)
 })
*/
</script>


<script>
Morris.Line({
  element: 'graph',
  data: <%= raw @data_points.to_json %>,
  xkey: 'ts',
  ykeys: ['value'],
  labels: ['Time'],
  lineWidth: 3
});
</script>

<% if params[:debug] %>
	<h3>Debugging</h3>

	<h4>Data Analysis</h4>
	<table class="table table-striped">
	  <tbody>
	    <tr>
	      <td>Total Datapoints</td>
	      <td><%= @debugging[:total] %></td>
	    </tr>
	    <tr>
	    	<td>Timestamp Minimum</td>
	    	<td><%= @debugging[:timestamp_min] %> (<%= humanize_timestamp @debugging[:timestamp_min] %>)</td>
	    </tr>
	    <tr>
	    	<td>Timestamp Maximum</td>
	    	<td><%= @debugging[:timestamp_max] %>  (<%= humanize_timestamp @debugging[:timestamp_max] %>)</td>
	    </tr>
	    <tr>
	    	<td>Value Minimum</td>
	    	<td><%= @debugging[:value_min] %></td>
	    </tr>
	    <tr>
	    	<td>Value Maximum</td>
	    	<td><%= @debugging[:value_max] %></td>
	    </tr>
	  </tbody>
	</table>

	<h4>Raw JSON Data</h4>
	<pre>
	<%#= JSON.pretty_generate(@data_points) %>
	<%= @data_points.to_json %>
	</pre>
<% end %>