<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Total</th>
      <th>Last Modified</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    {{#each metrics}}
      <tr>
        <td><a href="/metrics/{{name}}">{{name}}</a></td>
        <td>{{total}}</td>
        <td>{{dateFormat updated_at}}</td>
        <td>{{dateFormat created_at}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
