<div class="number-value value-size-medium">{{unresolvedErrors}}</div>
<div class="label-container-two-rows">
  <div class="label" title="{{label}}">{{label}}</div>
  {{#if lastErrorTime}}
  <div class="secondary-label">
    last error occurred <span class="timeago" title="{{lastErrorTime}}">{{lastErrorTime}}</span>
  </div>
  {{/if}}
</div>
